@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(//db.onlinewebfonts.com/c/f97225822a70757425b37ccb7fb0ca5c?family=BrownStd);
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: "BrownStd"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
